.icon-outline {
	filter: drop-shadow(-1px -1px 2px black)
		drop-shadow(1px 1px 2px black);
}

.text-outline {
	text-shadow: -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black, 1px 1px 2px black;
}

/* Magical style to turn any image white */
.white-convert {
    filter: invert(75%) sepia(2%) saturate(1443%) hue-rotate(157deg) brightness(98%) contrast(87%);
}
