package clock

templ View(model ViewModel) {
	<div hx-get="/htmx/time"
		 hx-trigger="every 5s"
		 hx-swap="outerHTML">
		<p class="fw-bold clock white">
			{ model.Time }
		</p>
		<p class="fw-bold date white">
			{ model.Date }
		</p>
	</div>
}
