package views

import "farstu/internal/models"

templ Time(model models.TimeModel) {
	<div hx-get="/htmx/time"
		 hx-trigger="every 5s"
		 hx-swap="outerHTML">
		<p class="clock">
			{ model.Time }
		</p>
		<p class="date">
			{ model.Date }
		</p>
	</div>
}
